## Ignore all folders and other files in this directory
## This will allow for only having yaml files

# Ignore everything
*

# Allow specific files
!.gitignore
!Readme.md
!bash_aliases

# Allow yaml files
!*.yml
